<script type="text/ng-template" id="alert.html">
	<div class="alert" style="background-color:#fa39c3;color:white" role="alert">
		<div ng-transclude></div>
	</div>
</script>

<div>
	<div class="modal-header guestModalHeader">
		<img style="float: left" width="5%" src="../../main/img/cocktail12.png">
		<h3 class="modal-title">Zusammenfassung<br>
			<small>Hier sehe Sie alle Getränke die Teil Ihrere Bestellung sind.</small></h3>
		<img style="float: right" width="5%" src="../../main/img/cocktail12.png">


	</div>

	<div class="modal-body guestCartBody">
		<ul style="list-style: none">
			<div class="guestCartNoItems" ng-show="!items.length && !alerts.length">Bisher befinden sich keine Getränke in Ihrer Bestellung</div>
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" ><h4>{{alert.header}}</h4>{{alert.msg}}</alert>


			<li data-ng-repeat="item in items track by $index ">
				{{$index+1}}
				<div class="guestCartItem" >
					{{item.Name}}
					<span style="display: inline-block;float: right">{{item.Price | currency:'€'}}</span>

				</div>
				<img class="guestCartRemove" src="../../main/img/delete96.svg" data-ng-click="remove($index)">


			</li>
		</ul>
	</div>

	<div class="modal-footer">
		<div data-ng-hide="!items.length" class="guestCartSummary">
			<span class="btn-left" >Ihre Bestellung besteht aus {{amount}} Getränken</span>
			<span class="btn-right">Gesamtsumme: {{sum |currency:'€'}}</span>
			<br>
		</div>

		<div class="guestCartSummary">
			<button class="btn btn-primary btn-left" type="button" ng-click="cancel()">Bestellliste schließen</button>
			<button class="btn btn-success btn-right" data-ng-disabled="!items.length" type="button" ng-click="ok()">Jetzt Bestellen</button>
		</div>
	</div>
</div>
