.nav-tabs {
    vertical-align: bottom;
    border: none;
    float: left;
}

.nav-tabs > li.active {
height: 50px;
}

.nav > li > a {
    height: 50px;
}

.nav > li > a:hover {
    height: 50px;
}

.navbar {
    padding-top: 10px;

    border-bottom-style: solid;
    border-color: darkgray;
    border-bottom-width: 8px;
}

.underline {
    //height: 50px;
    //border-bottom-style: solid;
    //border-color: white;
    //border-bottom-width: 8px;
}
