<h2>Reservierung</h2>
<div class="guestContent" data-ng-controller="GuestBookCntl">


	<form class="form-horizontal" ng-submit="book()">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Vorname</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="name" data-ng-model="user.name" ng-required="true" placeholder="Vorname">
			</div>
		</div>
		<div class="form-group">
			<label for="surname" class="col-sm-2 control-label">Nachname</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" data-ng-model="user.surename" ng-required="true" required id="surname" placeholder="Nachname">
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">E-Mail-Adresse</label>
			<div class="col-sm-6">
				<input type="email" class="form-control" data-ng-model="user.email" ng-required="true" id="email" placeholder="E-Mail-Adresse">
			</div>
		</div>
		<div class="form-group">
			<label for="phone" class="col-sm-2 control-label">Telefonnummer</label>
			<div class="col-sm-6">
				<input type="tel" class="form-control" data-ng-model="user.phone" ng-required="true" id="phone" placeholder="Telefonnummer">
			</div>
		</div>

		<hr>
		<div class="form-group">
			<label for="people" class="col-sm-2 control-label">Anzahl der Personen</label>
			<div class="col-sm-6">
				<input type="number" class="form-control" id="people" data-ng-model="user.people" ng-required="true" placeholder="Anzahl der Personen">
			</div>
		</div>
		<div class="form-group">
			<label for="date" class="col-sm-2 control-label">Datum</label>
			<div class="col-sm-6">
				<p class="input-group">
				<input type="text" id="date" class="form-control" datepicker-popup="{{format}}" data-ng-disabled="true" ng-model="user.date" is-open="status.opened" min-date="minDate" max-date="maxDate"
				       datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)">
	                <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
				</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Uhrzeit</label>
			<div class="col-sm-6">
				<label class="radio-inline">
					<input type="radio" name="time" data-ng-model="user.time" ng-required="true" id="inlineRadio1" value="mittag" checked> Mittags
				</label>
				<label class="radio-inline">
					<input type="radio" name="time" data-ng-model="user.time" ng-required="true" id="inlineRadio2" value="abend"> Abends
				</label>
			</div>
		</div>


		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-4">
				<button type="button" class="btn btn-danger" ui-sref="guestMgmt.welcome">Abbrechen</button>
			</div>
			<div class="col-sm-2">
				<button type="submit" class="btn btn-primary">Reservieren</button>
			</div>
		</div>

	</form>



</div>
